.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #000000;
  color: #ffffff;
  width: 45vw;
}

.gameStatus {
	margin: 0px;
  background-color: #cccccc;
  color: #ffffff;
  font-size: 1.4em;
  font-weight: bold;
}

.restart {
  background-color: #34495e;
  color: #fff;
  border: 0px;
  font-family: 'Dosis', Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0px;
  width: 100%;
}
.restart:hover {
  background-color: #000000;
  cursor: pointer;
}