.cell {
  width: 4.5vw;
  height: 4.5vw;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  font-size: 3em; 
  font-family: 'Gochi Hand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #990000;
}

.cell:hover {
	background-color: #c1cdcd;
}